.users{
    text-align: center;
    height: 100vh;
}
.user-container{
    width: 85%;
    height: 85%;
    background-color: #d9e7fa;
    border-radius: 25px;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.user-container > h1{
    font-size: 25px;
    margin-top: 38px;
    color: #024a97;
}
.user-container p{
    font-size: 18px;
    /* color: grey; */

}
.inner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 40px auto 0px;
}
.inner-container h1{
    font-size: 18px;
    /* color:  #007aff; */
}
.user-container img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
}